{
    "BasePath": "<PATH/TO/LOG/DIRECTORY>",
    "DBizedPath": "dbized",
    "CheckIfAlreadyProccessed": false,
    "MergeFileName": "000-chat.txt",
    "SummaryFileName": "summary.txt",
    "LogFileNameSplitter": "  ",
    "AttachmentPrefix": "001-file-",
    "PseudoName": "Unknown",
    "DevShortName": "DEV",
    "ClientShortName": "OPP",
    "AttachmentSign": "{<file>}",
    "ESIndexSkype": "skype01",
    "ESIndexMail": "mail01",
    "EnableElasticSearch": true
}